:root{
  --main-font: 'Poppins', sans-serif;
  --main-color: #FD8558;
  --dark-color: #333333;
}
body{
  margin: 0;
  background-color: white;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 15px;
}
section{
  overflow: hidden;
}

header{
  width: 100%;
  z-index: 3;
}
h1{
  font-weight: 700;
  font-size: 28px;
  left:86px;
  top:6px;
  margin: 0;
}
h3{
  font-weight: 400;
  font-size: 150px;
  line-height: 145px;
  letter-spacing: 0.1px;
  color: #F7F7F7;
  margin: 52px 0 30px 15px ;
}
h4{
  font-size: 70px;
  line-height: 85px;
  margin: 0 0 43px 0;
}
h6{
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  margin: 0 0 17px 0;
}
button{
  width: 154px;
  height: 56px;
  margin: 0 14px 0 14px;
  color: white;
  background-color: var(--main-color);
  font-weight: 700;
  font-size: 15px;
  border: 0;
  line-height: 30px;
}

.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.center{
  justify-content: center;
  align-items: center;
}
.container{
  max-width: 1440px;
  margin: 0 auto 0 auto;
}
.half_width{
  width:50%;
}
.pages_list{
}
.page_button{
  padding: 19px 16px 32px 16px;
}
.greeting_section{
  background-image: url("../images/greeting_image.png");
  background-size: cover;
  width: 100%;
}
.greeting_disc{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.slogan{
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  margin: 0;
  color: white;
  z-index: 2;
  padding-bottom: 41px;
}
.greeting_buttons{
  z-index: 2;
}
.greeting_info{
  padding: 218px 0 280px 0;
  z-index: 1;
}
#see_more{
  background-color: #282828;
  border: 2px solid var(--main-color);
}
#space_figure_1{
  filter: blur(2px);
  top: -50px;
}
#space_figure_2{
  left: 7%;
  bottom: 130px;
}
#space_figure_3{
  right: 9%;
  top: 17px;
}
#space_figure_4{
  right: 8%;
  top: 330px;
}
#space_figure_5{
  width: 300px;
  height: 300px;
  transform: scaleX(-1);
  right: -150px;
  bottom: -120px;
  filter: blur(2px);
}
.about_info_div{
  margin: 0 0 58px 135px;
}
.main_color_14px{
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FD8558;
}
.ultimate_expressions{
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  color: var(--dark-color);
  padding-right: 105px;
}
.quisque{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: var(--dark-color);
  margin: 0 0 11px;
}
.latin_div{
  max-width: 591px;
  color: #999999;
}
.about_info_image{
  padding-left: 183px;
}
.quote_div{
  padding-left: 65px;
  width: 387px;
  padding-top: 70px;
  justify-content: space-between;
}
.quote, .quote_author{
  color: var(--dark-color);
}
.quote{
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 45px;
}
.highest_quality{
  font-style: italic;
  color: var(--main-color)
}
.quote_author{
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}
.author_position{
  color:#CACACA;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1.8px;
  padding: 20px 0 25px 0;
  margin: 0;
}
.agency_components{
  padding: 100px 157px 106px 157px;
  justify-content: space-between;
}
.component{
  width: 337px;
}
.additional_text{
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  color: #999999;
}
.transfer{
  justify-content: center;
}
.trans_line{
  width: 606px;
  height: 2px;
  background-color: #F5F5F5;
}
.trans_circle{
  margin: 0 40px 0 40px;
  transform: translate(0, -50%);
}
.portfolio_intro{
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 101px;
  padding-left: 135px;
  padding-right: 135px;
}
.dark_32px{
  margin: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: var(--dark-color);
}
.works_heading{
  text-transform: lowercase;
  padding-right: 27px;
  width: calc(100% - 27px);
  text-align: right;
  font-size: 200px;
  line-height: 180px;
  margin: 0 0 -20px 0;
}
.works_pictures{
  margin: 0 0 115px 0;
  height: 720px;
  text-transform: capitalize;
}
.side_section_picture{
  width: 25%;
  justify-content: flex-end;
}
.work_picture{
  width: 100%;
  height: 50%;
  justify-content: flex-end;
}
.work_picture_form{
  position: relative;
  margin: 0 auto 40px auto;
  width: 320px;
  font-size: 24px;
  line-height: 20px;
  text-align: end;
  background-color: rgba(255, 255, 255, 0.9);;
}
.work_picture label{
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 47px 0 46px 0;
  text-align: center;
}
.picture_input{
  height: 45px;
  width: 45px;
  border-radius: 0;
  padding: 40px 0 40px 0;
}
.central_image{
  height: 100%;
  width: 50%;
}
.central_image form{
  width: 680px;
}
.central_image label{
  margin: 27px 0 26px 0;
  justify-content: space-between;
  padding: 20px;
}
.crazy_max{
  background-image: url("../images/crazy_max.jpg");
}
.stylish_house{
  background-image: url("../images/stylish_house.jpg");
}
.oblique_house{
  background-image: url("../images/oblique_house.jpg");
}
.difference{
  background-image: url("../images/differents.jpg");
}
.our_skills_div{
  justify-content: center;
  width: calc(100% - 300px);
  margin: 0 auto 151px auto;
}
.our_skills_div .additional_text{
  text-align:left;
  padding-right: 70px
}
.stats_div{
  width: 100%;
  height: 10px;
  background-color: #EEEEEE;
  overflow: visible;
}
.stats_span{
  width:90%;
  height:100%;
  background: linear-gradient(45deg, #FF4803, #FFAE35);
}
#illustration_span{
  width: 90%;
}
#web_design_span{
  width: 80%;
}
#development_span{
  width: 95%;
}
.our_skills_text{
  justify-content: center;
}
.skills_percent{
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #999999;
  top: -37px;
  margin: 0;
}
.illustration_percent{
  right:10%
}
.development_percent{
  right: 5%;
}
.wb_percent{
  right: 20%;
}
.team{
  align-items: center;
}
.team .dark_32px{
  margin: 28px 0 24px 0;
  text-transform: capitalize;
}
.grid_images{
  padding: 0 150px 65px 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.image{
  margin: 15px;
  height: 350px;
  width: 350px;
}
.anna{
  background: url("../images/anna.jpg");
}
.andy{
  background: url("../images/andy.jpg");
}
.katy{
  background: url("../images/katy.jpg");
}
.margo{
  background: url("../images/margo.jpg");
}
.kanye{
  background: url("../images/kanye.jpg");
}
.marta{
  background: url("../images/marta.jpg");
}
.name_label, .job_label{
  color: white;
  margin: 0;
}
.name_label{
  font-size: 24px;
  line-height: 30px;
}
.job_label{
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.start_work_button{
  margin: 0 0 115px 0;
  text-transform: capitalize;
}